################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SharePointApp/bin
/SharePointApp/obj/Debug
/SharePointAppService/bin
/SharePointAppService/obj/Debug
/.vs/SharePointApps/v15/Server/sqlite3
/.vs/VIT/v15
/.vs/SharePointApps/v15
/SharePointApp/obj/Release
/SharePointAddIns/InlineSearchAddIn/pkg/Debug/InlineSearchAddIn
/.vs/VSWorkspaceState.json
