<section>
    <!-- Create Leave Application -->

    <style>
        .md-datepicker-calendar-pane {
            z-index: 1200
        }

        .required-field {
            color: red;
        }

        .controll-button button:nth-child(2) {
            float: right;
        }
    </style>
    <div id="modalRejectLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <!--<button type="button" class="close btn-primary" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">Reject  Leave Application</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpRemarks">Commentes </label>
                            <textarea class="form-control" rows="5" id="inpRemarks" ng-model="selectedLeaveApplication.RejectionReason"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="RejectLeaveApplication(selectedLeaveApplication)">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>

    <div id="modalLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <!--<button type="button" class="close btn-primary" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">New  Leave Application</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" ng-click="SubmitLeaveApplication()" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-default" ng-click="SaveLeaveApplication()" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpEmployee">Employee Email</label>
                            <input type="text" readonly class="form-control" id="inpEmployeeEmail" ng-model="selectedLeaveApplication.EmployeeEmail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpFirstname">Firstname</label>
                            <input type="text" readonly class="form-control" id="inpFirstname" ng-model="selectedLeaveApplication.EmployeeFirstname">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="inpLastname">Surname</label>
                            <input type="text" readonly class="form-control" id="inpLastname" ng-model="selectedLeaveApplication.EmployeeSurname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpEmployeeId">Employee ID</label>
                            <input type="text" readonly class="form-control" id="inpEmployeeId" ng-model="selectedLeaveApplication.EmployeeID">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="inpDepartment">Department</label>
                            <input type="text" readonly class="form-control" id="inpDepartment" ng-model="selectedLeaveApplication.Department">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpDesignation">Designation</label>
                            <input type="text" readonly class="form-control" id="inpDesignation" ng-model="selectedLeaveApplication.Designation">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="ppReportsTo">Reports To <span class="required-field">*</span></label>
                            <!--https://www.npmjs.com/package/bootstrap-3-typeahead-->
                            <select data-provide="typeahead" class="form-control" id="ppReportsTo"
                                    ng-model="selectedLeaveApplication.ReportTo" placeholder="Start typing a name...">
                                <option ng-repeat="manager in managers " value="{{manager.Email}}">{{manager.Title}}</option>
                            </select>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpLeaveType">Leave Type <span class="required-field">*</span></label>
                            <select class="custom-select form-control" id="inpLeaveType" ng-model="selectedLeaveApplication.LeaveType">

                                <option ng-repeat="item in leave_type" value="{{item.leave_type_code}}">{{item.leave_type_text}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpPayrollCode">Payroll Code</label>
                            <input type="text" class="form-control" id="inpPayrollCode" ng-model="selectedLeaveApplication.PayrollCode" disabled>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="inpLeaveCat">Leave Category</label>
                            <select class="custom-select form-control" id="inpLeaveCat" ng-model="selectedLeaveApplication.LeaveCategory">
                                <option selected value="1" ng-if="selectedLeaveApplication.enable_leave_category">With Certificate</option>
                                <option value="2" ng-if="selectedLeaveApplication.enable_leave_category">WithOut Certificate</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpFile">Supporting file</label>

                            <input id="inpFile" type="file" files-input ng-model="selectedLeaveApplication.SupportingFiles">

                            <div ng-repeat="file in selectedLeaveApplication.SupportingFiles">
                                <div class="row"></div>
                                <div class="col-xs-11">
                                    {{file.name}}
                                </div>
                                <div class="col-xs-1">
                                    <button type="button" class="close btn-primary" ng-click="ClearFile()">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpStartDate">Start Date 1day=8hours <span class="required-field">*</span></label>
                            <input type="text" class="hasDatepicker" id="inpStartDate" ng-model="selectedLeaveApplication.StartDate">

                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="inpReturnDate">Return Date <span class="required-field">*</span></label>
                            <input type="text" class="hasDatepicker" id="inpReturnDate" ng-model="selectedLeaveApplication.ReturnDate">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label for="inpTotalDays">Total (days)</label>
                            <input type="text" readonly class="form-control" id="inpTotalDays" ng-model="selectedLeaveApplication.TotalDays">
                        </div>
                        <div class="col-xs-6 form-group">
                            <input type="checkbox" ng-click="ActualLeaveToggle($event)" ng-model="selectedLeaveApplication.ActualLeaveChecked" />
                            <label for="inpActualLeave">Actual Leave (Hours)</label>

                            <input type="text" readonly class="form-control" id="inpActualLeave" ng-model="selectedLeaveApplication.ActualLeave">
                            <span id="error-message" style="color: red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpRemarks">Comments </label>
                            <textarea class="form-control" rows="5" id="inpRemarks" ng-model="selectedLeaveApplication.Remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="SubmitLeaveApplication()" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" ng-click="SaveLeaveApplication();$event.stopPropagation();">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- User View -->
    <div class="panel panel-primary" ng-show="stage.view == 'UserView'">
        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications for {{username}}</div>
        <div class="panel-body">
            <p>Please select an existing leave application form or click to create a new one</p>
        </div>
        <div class="controll-button">
            <button type="button" class="btn btn-primary" ng-click="newLeaveApplication_Click()">New Leave Application</button>
            <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()">Refresh</button>
        </div>
        <br />
        <ul id="userTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#" ng-click="filterData($event, 'Draft')">Draft</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Pending')">Pending</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Approved')">Approved</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Rejected')">Rejected</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Cancel')">Withdraw/Cancel</a></li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Employee Email</th>
                    <th>First Day of Leave</th>
                    <th>Last Day of Leave</th>
                    <th>Reports To</th>
                    <th>Status</th>
            
                    <th ng-if="stage.tab == 'Rejected'">Rejection Reason</th>
                    <th ng-if="stage.tab == 'Pending Line Manager'">Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in FilterLeaveApplicationData">
                    <td>{{data.EmployeeEmail}}</td>
                    <td>{{data.StartDate}}</td>
                    <td>{{data.ReturnDate}}</td>
                    <td>{{data.ReportTo}}</td>
                    <td>{{data.Status}}</td>
                    <td><span ng-show="data.Status == 'Rejected'">{{data.RejectionReason}}</span></td>
                    <td><button type="button" ng-show="data.Status == 'Draft' || data.Status == 'Rejected'" class="btn btn-sm btn-success" ng-click="editLeaveApplication_Click(data)">Edit</button></td>
                    <td><button type="button" class="btn btn-sm btn-danger" ng-show="data.Status == 'Draft' || data.Status == 'Rejected'" ng-click="deleteLeaveApplication_Click(data)">Delete</button></td>
                    <td><button type="button" class="btn btn-sm btn-danger" ng-show="data.Status == 'Pending Line Manager' || data.Status == 'Pending Final Approval'"" ng-click="CancelLeaveApplication_Click(data)">Cancel</button></td>
                    <td><button type="button" class="btn btn-sm btn-danger" ng-show="data.Status == 'Approved'" ng-click="WithdrawLeaveApplication_Click(data)">Withdraw</button></td>
                   

                </tr>
            </tbody>
        </table>
    </div>

    <!-- Manager View -->
    <div class="panel panel-primary" ng-show="stage.view == 'ManagerView'">

        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications pending review by {{username}}</div>
        <div class="panel-body">
            <p>Please review the following leave applications</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()">Refresh</button>

        <ul id="managerTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#" ng-click="filterData($event, 'Pending Line Manager')">Pending</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Approved')">Approved</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Rejected')">Rejected</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Cancel')">Withdraw/Cancel</a></li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Employee Email</th>
                    <th>First Day of Leave</th>
                    <th>Last Day of Leave</th>
                    <th>Total Days</th>
                    <th>Actual Leave(Hours)</th>
                    <th>Reports To</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr ng-repeat="data in FilterLeaveApplicationData">
                <td>{{data.EmployeeEmail}}</td>
                <td>{{data.StartDate}}</td>
                <td>{{data.ReturnDate}}</td>
                <td>{{data.TotalDays}}</td>
                <td>{{data.ActualLeave}}</td>
                <td>{{data.ReportTo}}</td>
                <td>{{data.Status}}</td>
                <td><button type="button"  class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalRejectLeaveApplication" ng-if="stage.tab == 'Pending Line Manager' || stage.tab == 'Approved'" >Reject</button></td>
                <td><button type="button" class="btn btn-sm btn-success" ng-if="stage.tab == 'Pending Line Manager' || stage.tab == 'Rejected'" ng-click="ApproveLeaveApplication(data)">Approve</button></td>
            </tr>
        </table>
    </div>


    <!-- Main Manager View -->
    <div class="panel panel-primary" ng-show="stage.view == 'MainManagerView'">

        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications pending review by {{username}}</div>

        <div class="panel-body">
            <p>Please review the following leave applications</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()">Refresh</button>
        <ul id="managerTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#" ng-click="filterData($event, 'Pending Final Approval')">Pending Final Approval</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Approved')">Approved</a></li>
            <li role="presentation"><a href="#" ng-click="filterData($event, 'Rejected')">Rejected</a></li>
             <li role="presentation"><a href="#" ng-click="filterData($event, 'Cancel')">Withdraw/Cancel</a></li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Employee Email</th>
                    <th>First Day of Leave</th>
                    <th>Last Day of Leave</th>
                    <th>Reports To</th>
                    <th>Status</th>
                    <td></td>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="data in FilterLeaveApplicationData">
                <td>{{data.EmployeeEmail}}</td>
                <td>{{data.StartDate}}</td>
                <td>{{data.ReturnDate}}</td>
                <td>{{data.ReportTo}}</td>
                <td>{{data.Status}}</td>
                <td><button type="button"  class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalRejectLeaveApplication" ng-if="stage.tab == 'Pending Final Approval' || stage.tab == 'Approved'">Reject</button></td>
                <td><button type="button" class="btn btn-sm btn-danger" ng-if="stage.tab == 'Pending Final Approval' || stage.tab == 'Rejected'" ng-click="MainManagerApproveLeaveApplication(data)">Approve</button></td>
            </tr>
        </table>
    </div>

    <div id="validationErrors"></div>
</section>